In [ ]:
"""
Q.4. What is DQL? Explain SELECT with an example.
Solution:
DQL stands for Data Query Language, which is a subset of
SQL (Structured Query Language) used for querying and
retrieving data from a relational database management 
system (RDBMS). DQL primarily consists of the SELECT
statement, which allows you to retrieve data from one 
or more database tables. It is one of the fundamental 
components of SQL and is widely used in database operations.


The basic syntax of the SELECT statement in SQL is as follows:

sql code

SELECT column1, column2, ...
FROM table_name
WHERE condition;

Here's an explanation of the various components of the 
SELECT statement:

SELECT: This keyword specifies the columns you want to 
retrieve from the database table.

column1, column2, ...: These are the names of the columns 
you want to select. You can list multiple columns separated 
by commas. You can also use the wildcard character '*' 
to select all columns from the table.

FROM: This keyword specifies the table from which you want 
to retrieve data.

table_name: This is the name of the database table from 
which you want to retrieve data.

WHERE: This is an optional keyword that allows you to filter
the data based on a specified condition. Rows that satisfy
the condition will be included in the result set.

condition: This is the condition that specifies which rows 
to include in the result. It is often expressed using 
comparison operators like =, <, >, <=, >=, or logical 
operators like AND, OR, and NOT.

Here's an example of using the SELECT statement to retrieve 
data from a hypothetical "employees" table:

Assuming the "employees" table has the following columns:
"employee_id," "first_name," "last_name," "job_title," and
"salary," you could use the following SQL query to retrieve
the names and job titles of all employees with a salary 
greater than $50,000:

sql code

SELECT first_name, last_name, job_title
FROM employees
WHERE salary > 50000;

The result of this query would be a list of employee first
names, last names, and job titles for those employees 
whose salary is greater than $50,000.
"""